<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js {{htmlclass}}">
  <head>
    {{#block "head"}}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="{{@root.baseurl}}/static/img/favicon.png">
      {{#if title}}
      <title>{{title}} - {{data "project.title"}}</title>
      {{else if name}}
      <title>{{name}} - {{data "project.title"}}</title>
      {{else}}
      <title>{{data "project.title"}}</title>
      {{/if}}
      {{#each styles}}
        <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/{{this}}.css">
      {{/each}}
      <script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-base.js"></script>
      <script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-utils.js"></script>
      <script src="{{@root.baseurl}}/assets/protocol/protocol/js/protocol-supports.js"></script>
    {{/block}}
  </head>
  <body class="{{bodyclass}}">
    <div class="protosite-page">
    {{#block "body"}}
      {{#block "main"}}{{/block}}
    {{/block}}

    {{#block "foot"}}{{/block}}
    </div>
  </body>
</html>
