{{#extend "blank" htmlclass="no-js" bodyclass=""}}
  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="{{@root.baseurl}}/assets/system/css/pebbles/pebbles.css">
    <link rel="stylesheet" href="{{@root.baseurl}}/assets/system/css/site/site.css">
  {{/content}}
  {{#content "body"}}
    {{> drizzle.nav}}
    <main class="mds-main">
    {{#block "header"}}

      {{!-- Header, labels --}}
      <header class="mds-page-header">
        <h1 class="mds-page-title">
        {{#if title}}
          {{ title }}
        {{else}}
          {{ name }}
        {{/if}}
        </h1>

        {{#if labels}}
          <ul class="mds-item-labels">
            {{#each labels as |label|}}
              <li class="mds-label mds-label--{{label}}">
                {{label}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </header>
    {{/block}}

    {{#block "main"}}

    {{/block}}
    </main>
  {{/content}}

  {{#content "foot"}}
    <script src="{{@root.baseurl}}/assets/system/js/global.js"></script>
  {{/content}}
{{/extend}}
