{{#extend "blank" htmlclass="js" bodyclass=""}}
  {{#content "head" mode="append"}}
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/protocol.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/protocol-extra.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/site.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/prism.css">
  {{/content}}

  {{#content "header"}}
      <div>
        {{> drizzle.nav}}
      </div>
    {{/content}}

    {{#content "body"}}
      <div class="mzp-l-content">
        <main class="protosite-main">

            <script src="{{@root.baseurl}}/assets/docs/js/docs.js"></script>

        {{#block "main"}}{{/block}}
        </main>
      </div>
    {{/content}}

    {{#content "foot"}}
      {{> drizzle.footer}}
    {{/content}}
  {{/extend}}
