{{#extend "blank" bodyclass=""}}
  {{#content "head" mode="append"}}
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/protocol.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/protocol-extra.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/site.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/docs/css/prism.css">
  {{/content}}

  {{#content "body"}}
    {{> drizzle.nav}}

    <main class="protosite-main">
    {{#block "header"}}
      {{!-- Header, labels --}}
      <header class="protosite-page-head">
        <h1 class="protosite-page-title">
        {{#if title}}
          {{ title }}
        {{else}}
          {{ name }}
        {{/if}}
        </h1>

        {{#if labels}}
          <ul class="protosite-page-labels">
            {{#each labels as |label|}}
              <li class="protosite-label protosite-label-{{label}}">
                {{label}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </header>
    {{/block}}

    {{#block "main"}}{{/block}}
    </main>
  {{/content}}

  {{#content "foot"}}
    <script src="{{@root.baseurl}}/assets/docs/js/docs.js"></script>
  {{/content}}
{{/extend}}
