---
title: Typography
name: Typography
order: 1
styles:
  - type-scale
---

<p>[Todo: Some kind of introduction about our approach to typography in general, maybe some basic principles.]</p>

<h2 id="typefaces">Typefaces</h2>
<p>Zilla Slab and Open Sans are the standard typefaces on Mozilla branded websites. As a general rule, type set in Zilla Slab should stand out. Avoid stacking 2 sizes of Zilla one on top of the other. Pair headings in Zilla Slab with subheadings in Open Sans.</p>

<h3 id="typeface-zilla-slab">Zilla Slab</h3>
<p>Zilla Slab is our custom typeface for the Mozilla brand. We use it for our wordmark and as a display font for headlines on Mozilla branded sites. It’s a contemporary slab serif based on Typotheque’s Tesla. Zilla Slab is a free, open source font available for download.</p>
<p>Zilla Slab can be applied to headings by adding the class `mzp-t-mozilla` to the component or included with the mixin `@include zilla-slab;`.</p>

<ul>
    <li><a href="https://github.com/mozilla/zilla-slab/releases/latest" rel="external">Download from Github</a></li>
    <li><a href="https://fonts.google.com/specimen/Zilla+Slab" rel="external">Use on Google Fonts</a></li>
</ul>

<figure id="specimen-zilla-slab" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
    {{this.alphabet}}
    {{this.characters}}
    {{this.digits}}
    {{this.punctuation}}
    {{this.special}}
    {{this.currencies}}
{{/with}}
</figure>

<h3 id="typeface-open-sans">Open Sans</h3>
<p>Open Sans is our standard typeface for body copy, labels, captions, links, navigation, etc. because it’s more legible at smaller sizes than Zilla Slab, which is primarily a display font. Open Sans is also used as a heading/display font when the Firefox brand needs to be expressed more than the Mozilla brand. This open source font was designed by Steve Matteson.</p>

<ul>
    <li><a href="http://opensans.com">Download from OpenSans.com</a></li>
    <li><a href="https://fonts.google.com/specimen/Open+Sans">Use on Google Fonts</a></li>
</ul>

<figure id="specimen-open-sans" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
    {{this.alphabet}}
    {{this.characters}}
    {{this.digits}}
    {{this.punctuation}}
    {{this.special}}
    {{this.currencies}}
{{/with}}
</figure>

<h2 id="styles">Styles</h2>

<p>We limit the number of type styles to a set that works well across the website and fits our layout grid. This scale is based on a root size of 16 pixels and a 4 pixel baseline grid to determine line height.</p>

<div id="specimen-type-scale" class="protosite-specimen">
  <h1 class="scale-sample scale-sample-display-xxl">Display XXL</h1>
  <h1 class="scale-sample scale-sample-display-xl">Display XL</h1>
  <h2 class="scale-sample scale-sample-display-lg">Display LG</h2>
  <h3 class="scale-sample scale-sample-display-md">Display MD</h3>
  <h4 class="scale-sample scale-sample-display-sm">Display SM</h4>
  <h5 class="scale-sample scale-sample-display-xs">Display XS</h5>
  <h6 class="scale-sample scale-sample-display-xxs">Display XXS</h6>
  <p class="scale-sample scale-sample-body-lg">Body LG</p>
  <p class="scale-sample scale-sample-body-md">Body MD</p>
  <p class="scale-sample scale-sample-body-sm">Body SM</p>
  <p class="scale-sample scale-sample-body-xs">Body XS</p>
  <p class="scale-sample scale-sample-cta">CTA</p>
</div>

<p>The display sizes are XXS through XXL. Of these, the most commonly used are SM, MD, LG, and XL. Use the XS and XXS display sizes sparingly for labels and UI elements, and the XXL display size sparingly to make an especially bold statement.</p>

<p>We use two sizes of regular body copy: MD and LG. Use MD for normal, default body text and LG when you need slightly larger text to stand out, like a tagline or the introduction to an article. There are two sizes of smaller body text: SM and XS, used sparingly for supporting text like footnotes or disclaimers, never for main body copy.</p>

<p>We also have a special CTA style used in buttons and navigation. It's a medium font-size size but with a tigher line-height than ordinary body text.</p>

<p><a href="{{@root.baseurl}}/demos/type-scale.html">See a demo</a></p>

<h2 id="code">Code</h2>

<p>We use Sass mixins to declare these font sizes:</p>

<div class="protosite-pattern-embed">
<pre class="protosite-pattern-code language-scss"><code>@include text-display-xxl;
@include text-display-xl;
@include text-display-lg;
@include text-display-md;
@include text-display-sm;
@include text-display-xs;
@include text-display-xxs;
@include text-body-lg;
@include text-body-md;
@include text-body-sm;
@include text-body-xs;
@include text-cta;</code></pre>
</div>

<p>Those mixins include media queries to adjust the sizes at key breakpoints. Text gets bigger as the viewport gets bigger. You can resize your window to see this in action on the sample above or on the <a href="{{@root.baseurl}}/demos/type-scale.html">demo page</a>.</p>

<p>For example, here’s the 4XL mixin:</p>

<div class="protosite-pattern-embed">
<pre class="protosite-pattern-code language-scss"><code>@mixin text-display-xl {
    @include font-size(40px);
    line-height: 1.111;

    @media #{$mq-md} {
        @include font-size(60px);
        line-height: 1.066;
    }
}</code></pre>
</div>

<p>The funky line-heights are calculated to fit the 4-pixel baseline grid, give or take a pixel with rounding. Also note that these mixins only declare the size and line-height, not the font-family or weight.</p>

<p>The sizing mixins in turn use another Sass mixin to convert a pixel size to <code>rem</code> for output, assuming a 16px root size (the default in graphical browsers). Because we use <code>rem</code> for font sizing all of our declared sizes are really just suggestions and the end user can resize as they see fit. Text sizes are flexible so design accordingly.</p>

</section>
