---
title: Typography
name: Typography
order: 1
styles:
  - type-scale
---

<h2 id="typefaces">Typefaces</h2>
<p>Inter is the standard typeface for Protocol sites.</p>
<p>Zilla Slab and Inter are the standard typefaces on Mozilla branded websites.</p>
<p>Metropolis and Inter are the standard typefaces on Firefox branded websites.</p>

<h3 id="typeface-inter">Inter</h3>
<p>This open source, sans-serif font was designed by <a href="https://rsms.me/">Rasmus Andersson</a>.</p>
<p>Inter is our standard type face for both headings and body copy. If you do not apply any themes by default your Protocol site will be entirely in Inter.</p>
<p>Everything is Inter by default. If you need to declare it specifically you can use the mixin <code>@include font-base;</code>.</p>


<ul>
    <li><a href="https://rsms.me/inter/">Download from https://rsms.me/inter/</a></li>
</ul>

<figure id="specimen-inter" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
    {{this.alphabet}}
    {{this.characters}}
    {{this.digits}}
    {{this.punctuation}}
    {{this.special}}
    {{this.currencies}}
{{/with}}
</figure>

<h3 id="typeface-zilla-slab">Zilla Slab</h3>
<p>Zilla Slab is our custom typeface for the Mozilla brand. We use it for our wordmark and as a display font for headlines on Mozilla branded sites. It’s a contemporary slab serif based on Typotheque’s Tesla. Zilla Slab is a free, open source font available for download.</p>
<p>Zilla Slab is primarily a display font and should only be used on large text like headings. As a general rule, type set in Zilla Slab should stand out. Avoid stacking two sizes of Zilla one on top of the other. Pair headings in Zilla Slab with subheadings in Inter.</p>
<p>Zilla Slab can be applied to headings by adding the class <code>mzp-t-mozilla</code> to the component or included with the mixin <code>@include font-mozilla;</code>.</p>
<p>Don't italicize Zilla Slab. Protocol only includes normal and bold versions of this font.</p>

<ul>
    <li><a href="https://github.com/mozilla/zilla-slab/releases/latest" rel="external">Download from Github</a></li>
    <li><a href="https://fonts.google.com/specimen/Zilla+Slab" rel="external">Use on Google Fonts</a></li>
</ul>

<figure id="specimen-zilla-slab" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
    {{this.alphabet}}
    {{this.characters}}
    {{this.digits}}
    {{this.punctuation}}
    {{this.special}}
    {{this.currencies}}
{{/with}}
</figure>

<h3 id="typeface-metropolis">Metropolis</h3>

<p>Metropolis is a free, open source font used for headlines on marketing and product web experiences. It's a geometric sans-serif font by Chris Simpson, very similar in style and character to Firefox Sharp Sans, the proprietary font used to create logo lockups for Firefox products (<strong>do not use Firefox Sharp Sans as a webfont</strong>).
<p>Use Metropolis for large text like headings. As a general rule, type set in Metroplis should stand out. Avoid stacking two sizes of Metropolis one on top of the other. Pair headings in Metropolis with subheadings in Inter.</p>
<p>You can apply Metropolis to headings by adding the class <code>mzp-t-firefox</code> to the component or included with the mixin <code>@include font-firefox;</code>.</p>
<p>Don't italicize Metropolis. Protocol only includes normal and bold versions of this font.</p>

<ul>
    <li><a href="https://github.com/chrismsimpson/Metropolis/releases/latest" rel="external">Download from Github</a></li>
</ul>

<figure id="specimen-metropolis" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
    {{this.alphabet}}
    {{this.characters}}
    {{this.digits}}
    {{this.punctuation}}
    {{this.special}}
    {{this.currencies}}
{{/with}}
</figure>

<h2 id="styles">Styles</h2>

<p>We limit the number of type styles to a set that works well across the website and fits our layout grid. This scale is based on a root size of 16 pixels, with a 110% line height for display text and a 150% line height for body text.</p>

<div id="specimen-type-scale" class="protosite-specimen">
  <h1 class="scale-sample scale-sample-display-xxl">Display XXL</h1>
  <h1 class="scale-sample scale-sample-display-xl">Display XL</h1>
  <h2 class="scale-sample scale-sample-display-lg">Display LG</h2>
  <h3 class="scale-sample scale-sample-display-md">Display MD</h3>
  <h4 class="scale-sample scale-sample-display-sm">Display SM</h4>
  <h5 class="scale-sample scale-sample-display-xs">Display XS</h5>
  <h6 class="scale-sample scale-sample-display-xxs">Display XXS</h6>
  <p class="scale-sample scale-sample-body-lg">Body LG</p>
  <p class="scale-sample scale-sample-body-md">Body MD</p>
  <p class="scale-sample scale-sample-body-sm">Body SM</p>
  <p class="scale-sample scale-sample-body-xs">Body XS</p>
  <p class="scale-sample scale-sample-cta">CTA</p>
</div>

<p>The display sizes are XXS through XXL. Of these, the most commonly used are SM, MD, LG, and XL. Use the XS and XXS display sizes sparingly for labels and UI elements, and the XXL display size sparingly to make an especially bold statement.</p>

<p>We use two sizes of regular body copy: MD and LG. Use MD for normal, default body text and LG when you need slightly larger text to stand out, like a tagline or the introduction to an article. There are two sizes of smaller body text: SM and XS, used sparingly for supporting text like footnotes or disclaimers, never for main body copy.</p>

<p>We also have a special CTA style used in buttons and navigation. It's a medium font-size size but with a tigher line-height than ordinary body text.</p>

<p><a href="{{@root.baseurl}}/demos/type-scale.html">See a demo</a></p>

<h2 id="code">Code</h2>

<p>We use Sass mixins to declare these font sizes:</p>

<div class="protosite-pattern-embed">
<pre class="protosite-pattern-code language-scss"><code>@include text-title-xxl;
@include text-title-xl;
@include text-title-lg;
@include text-title-md;
@include text-title-sm;
@include text-title-xs;
@include text-title-xxs;
@include text-body-lg;
@include text-body-md;
@include text-body-sm;
@include text-body-xs;
@include text-body-cta;</code></pre>
</div>

<p>Those mixins include media queries to adjust the sizes at key breakpoints. Text gets bigger as the viewport gets bigger. You can resize your window to see this in action on the sample above or on the <a href="{{@root.baseurl}}/demos/type-scale.html">demo page</a>.</p>

<p>For example, here’s the XL mixin:</p>

<div class="protosite-pattern-embed">
<pre class="protosite-pattern-code language-scss"><code>
  @mixin text-title-xl {
      @include font-size(40px);
      line-height: $text-title-line-height;

      @media #{$mq-md} {
          @include font-size(56px);
      }
  }
}</code></pre>
</div>

<p>Note that these mixins only declare the size and line-height, not the font-family or weight.</p>

<p>The sizing mixins in turn use another Sass mixin to convert a pixel size to <code>rem</code> for output, assuming a 16px root size (the default in graphical browsers). Because we use <code>rem</code> for font sizing all of our declared sizes are really just suggestions and the end user can resize as they see fit. Text sizes are flexible so design accordingly.</p>

</section>
