---
title: Typography
name: Typography
order: 3
styles:
  - type-scale
---

<h2 id="typefaces">Typefaces</h2>
<p>Protocol comes with three fonts: Metropolis, Zilla Slab, and Inter.</p>
<p>Firefox branded websites use Metropolis for titles and Inter for body text. Don't use Metropolis for body text.</p>
<p>Mozilla branded websites use Zilla Slab for titles and Inter for body text. Don't use Zilla Slab for body text.</p>

<h3 id="typeface-inter">Inter</h3>
<p>Inter is an open source, sans-serif font was designed by <a href="https://rsms.me/">Rasmus Andersson</a>. This is our standard type face for body copy in both Firefox and Mozilla brands. If you need to declare it specifically (such as to override some other inherited font) you can use the mixin <code class="language-scss">@include font-base;</code>.</p>

<ul class="mzp-u-list-styled">
  <li><a href="https://rsms.me/inter/">Download from https://rsms.me/inter/</a></li>
</ul>

<figure id="specimen-inter" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
  {{this.alphabet}}
  {{this.characters}}
  {{this.digits}}
  {{this.punctuation}}
  {{this.special}}
  {{this.currencies}}
{{/with}}
</figure>

<h3 id="typeface-metropolis">Metropolis</h3>

<p>Metropolis is a free, open source font used for headlines on marketing and product web experiences. It's a geometric sans-serif font by Chris Simpson, very similar in style and character to Firefox Sharp Sans, the proprietary font used to create logo lockups for Firefox products (<strong>do not use Firefox Sharp Sans as a webfont</strong>).
<p>Use Metropolis for large text like headings. As a general rule, type set in Metroplis should stand out. Avoid stacking two sizes of Metropolis one on top of the other. Pair headings in Metropolis with subheadings in Inter.</p>
<p>You can declare Metropolis explicitly with the mixin <code class="language-scss">@include font-firefox;</code>.</p>
<p>Don't italicize Metropolis. Protocol only includes normal and bold versions of this font.</p>

<ul class="mzp-u-list-styled">
  <li><a href="https://github.com/chrismsimpson/Metropolis/releases/latest" rel="external">Download from Github</a></li>
</ul>

<figure id="specimen-metropolis" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
  {{this.alphabet}}
  {{this.characters}}
  {{this.digits}}
  {{this.punctuation}}
  {{this.special}}
  {{this.currencies}}
{{/with}}
</figure>

<h3 id="typeface-zilla-slab">Zilla Slab</h3>
<p>Zilla Slab is our custom typeface for the Mozilla brand. We use it for our wordmark and as a display font for headlines on Mozilla branded sites. It’s a contemporary slab serif based on Typotheque’s Tesla. Zilla Slab is a free, open source font available for download.</p>
<p>Zilla Slab is primarily a display font and should only be used on large text like headings. As a general rule, type set in Zilla Slab should stand out. Avoid stacking two sizes of Zilla Slab one on top of the other. Pair headings in Zilla Slab with subheadings in Inter.</p>
<p>You can declare Zilla Slab explicitly with the mixin <code class="language-scss">@include font-mozilla;</code>.</p>
<p>Don't italicize Zilla Slab. Protocol only includes normal and bold versions of this font.</p>

<ul class="mzp-u-list-styled">
  <li><a href="https://github.com/mozilla/zilla-slab/releases/latest" rel="external">Download from Github</a></li>
  <li><a href="https://fonts.google.com/specimen/Zilla+Slab" rel="external">Use on Google Fonts</a></li>
</ul>

<figure id="specimen-zilla-slab" class="protosite-specimen protosite-specimen-font">
{{#with (data "specimens")}}
  {{this.alphabet}}
  {{this.characters}}
  {{this.digits}}
  {{this.punctuation}}
  {{this.special}}
  {{this.currencies}}
{{/with}}
</figure>

<h2 id="type-scale">Type Scale</h2>

<p>We limit the number of text sizes to a predetermined set, to maintain consistency and avoid sizing text willy nilly in designs.</p>

<div id="specimen-type-scale" class="protosite-specimen">
  <h1 class="scale-sample scale-sample-title-2xl">Title 2XL</h1>
  <h2 class="scale-sample scale-sample-title-xl">Title XL</h2>
  <h3 class="scale-sample scale-sample-title-lg">Title LG</h3>
  <h4 class="scale-sample scale-sample-title-md">Title MD</h4>
  <h5 class="scale-sample scale-sample-title-sm">Title SM</h5>
  <h6 class="scale-sample scale-sample-title-xs">Title XS</h6>
  <h6 class="scale-sample scale-sample-title-2xs">Title 2XS</h6>
  <h6 class="scale-sample scale-sample-title-3xs">Title 3XS</h6>
  <p class="scale-sample scale-sample-body-xl">Body XL</p>
  <p class="scale-sample scale-sample-body-lg">Body LG</p>
  <p class="scale-sample scale-sample-body-md">Body MD</p>
  <p class="scale-sample scale-sample-body-sm">Body SM</p>
  <p class="scale-sample scale-sample-body-xs">Body XS</p>
</div>

<p>The title sizes are 3XS through 2XL. Of these, the most commonly used are SM, MD, LG, and XL. Use the XS, 2XS, and 3XS title sizes sparingly for labels and UI elements, and the 2XL display size sparingly to make an especially bold statement.</p>

<p>We use three sizes of regular body copy: MD, LG and XL. Use MD for normal, default body text and LG when you need slightly larger text to stand out, like the introduction to an article. The XL body size is useful for taglines or subtitles, but not for long passages of text. There are two sizes of smaller body text: SM and XS, used sparingly for supporting text like footnotes or disclaimers, never for main body copy.</p>

<h3 id="themes">Themes</h3>

<p>Protocol includes different branded themes for Firefox and Mozilla, and each theme uses different fonts with a slightly altered scale. Titles set in Zilla Slab for the Mozilla brand are slightly larger than their Firefox equivalents, adjusting for Zilla Slab being overall a smaller display font.</p>

<ul class="mzp-u-list-styled">
  <li><a href="{{@root.baseurl}}/demos/type-scale-firefox.html">Firefox theme type scale</a></li>
  <li><a href="{{@root.baseurl}}/demos/type-scale-mozilla.html">Mozilla theme type scale</a></li>
</ul>

<h3 id="condensed-scale">Condensed Type Scale</h3>

<p>As you can see above, the standard Protocol type scale features big sizes for headings and titles appropriate for most general websites (like marketing sites, blogs, etc). Protocol also includes an alternative, condensed scale with smaller sizes more suitable for web applications.</p>

<div id="specimen-type-scale-condensed" class="protosite-specimen">
  <h1 class="scale-sample scale-sample-title-2xl">Title 2XL</h1>
  <h2 class="scale-sample scale-sample-title-xl">Title XL</h2>
  <h3 class="scale-sample scale-sample-title-lg">Title LG</h3>
  <h4 class="scale-sample scale-sample-title-md">Title MD</h4>
  <h5 class="scale-sample scale-sample-title-sm">Title SM</h5>
  <h6 class="scale-sample scale-sample-title-xs">Title XS</h6>
  <h6 class="scale-sample scale-sample-title-2xs">Title 2XS</h6>
  <h6 class="scale-sample scale-sample-title-3xs">Title 3XS</h6>
  <p class="scale-sample scale-sample-body-xl">Body XL</p>
  <p class="scale-sample scale-sample-body-lg">Body LG</p>
  <p class="scale-sample scale-sample-body-md">Body MD</p>
  <p class="scale-sample scale-sample-body-sm">Body SM</p>
  <p class="scale-sample scale-sample-body-xs">Body XS</p>
</div>

<h2 id="code">Code</h2>

<p>We use SCSS mixins to declare these font sizes:</p>

<pre class="protosite-pattern-code language-scss"><code>@include text-title-2xl;
@include text-title-2xl;
@include text-title-xl;
@include text-title-lg;
@include text-title-md;
@include text-title-sm;
@include text-title-xs;
@include text-title-2xs;
@include text-title-3xs;
@include text-body-xl;
@include text-body-lg;
@include text-body-md;
@include text-body-sm;
@include text-body-xs;</code></pre>

<p>Those mixins include media queries to adjust the sizes at key breakpoints. Text gets bigger as the viewport gets bigger. You can resize your window to see this in action on the samples above or on the <a href="{{@root.baseurl}}/demos/type-scale-firefox.html">demo page</a>.</p>

<p>The sizing mixins in turn use another mixin to convert a pixel size to <code>rem</code> for output, assuming a 16px root size (the default in graphical browsers). Because we use <code>rem</code> for font sizing all of our declared sizes are really just suggestions and the end user can resize as they see fit. Text sizes are always variable so design accordingly.</p>

</section>
