---
title: Card Layout
layout: blank
labels:
  - inprogress
styles:
  - card
---

<div class="mzp-l-content">
  <header>
    <h1>Card Layout Demo</h1>
  </header>
</div>

<div class="mzp-l-content">
  <header>
    <h2>5 Card Hero Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium sized screens the 1st card spans full width, and the remaining 4 cards span half widths.</li>
      <li>On large screens the 1st card spans 2 thirds, and the remaining cards span 1 third.</li>
    </ul>
  </header>

  <div class="mzp-l-card-hero">
    <section class="mzp-c-card mzp-c-card-large mzp-has-aspect-16-9">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-1-1">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>
  </div>
</div>

<div class="mzp-l-content">
  <header>
    <h2>4 Card Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium sized screens cards span half width.</li>
      <li>On large screens cards span quarter widths.</li>
    </ul>
  </header>

  <div class="mzp-l-card-quarter">
    <section class="mzp-c-card mzp-c-card-extra-small has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">Headline that goes onto a second or third line</h2>
          <p class="mzp-c-card-meta">6 hours ago</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-c-card-extra-small has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">Headline that goes onto a second or third line</h2>
          <p class="mzp-c-card-meta">6 hours ago</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-c-card-extra-small has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">Headline that goes onto a second or third line</h2>
          <p class="mzp-c-card-meta">6 hours ago</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-c-card-extra-small has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">Headline that goes onto a second or third line</h2>
          <p class="mzp-c-card-meta">6 hours ago</p>
        </div>
      </a>
    </section>
  </div>
</div>

<div class="mzp-l-content">
  <header>
    <h2>3 Card Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium sized screens cards span half width.</li>
      <li>On large screens cards span 1 third width.</li>
    </ul>
  </header>

  <div class="mzp-l-card-third">
    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-1-1">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>
  </div>
</div>

<div class="mzp-l-content">
  <header>
    <h2>2 Card Layout</h2>
    <ul class="mzp-u-list-styled">
      <li>On small screens cards stack vertically and span full container width.</li>
      <li>On medium to large sized screens cards span half width.</li>
    </ul>
  </header>

  <div class="mzp-l-card-half">
    <section class="mzp-c-card mzp-c-card-medium mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

    <section class="mzp-c-card mzp-c-card-medium mzp-has-aspect-3-2">
      <a class="mzp-c-card-block-link" href="#">
        <div class="mzp-c-card-media-wrapper">
          <img class="mzp-c-card-image" src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
        </div>
        <div class="mzp-c-card-content">
          <div class="mzp-c-card-tag">Tag</div>
          <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
          <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
        </div>
      </a>
    </section>

  </div>
</div>



