---
title: Emphasis box
layout: blank
styles:
  - emphasis-box
---

<section class="mzp-l-content">
  <div class="mzp-c-emphasis-box">
    <p>Just a standard emphasis box.</p>
  </div>
</section>

<hr>

{{#with (data "specimens")}}
<section class="mzp-l-content mzp-t-narrow">
  <div class="mzp-c-emphasis-box">
    <h3>{{heading}}</h3>
    <p>{{sentence}}</p>
  </div>
</section>
{{/with}}

<hr>

{{#with (data "specimens")}}
<section class="mzp-l-content mzp-t-narrow">
  <div class="mzp-c-emphasis-box  mzp-t-dark">
    <h3>{{heading}}</h3>
    <p>{{sentence}}</p>
  </div>
</section>
{{/with}}

<hr>

<section class="mzp-l-content mzp-t-narrow">
  <div class="fxa-form-cta mzp-c-emphasis-box">
    <form action="#" class="fxa-email-form">
      <h3 class="fxa-email-form-title">Join Firefox</h3>
      <p class="fxa-email-form-intro">Enter your email address to get started.</p>

      <div class="fxa-email-field-container">
        <p class="field">
          <label for="fxa-email-field">Email address</label>
          <input type="email" name="email" id="fxa-email-field" class="fxa-email-field" placeholder="user@example.com" required="">
        </p>

        <p class="agreement">
          By proceeding, you agree to the <a href="https://accounts.firefox.com/legal/terms">Terms of Service</a> and <a href="https://accounts.firefox.com/legal/privacy">Privacy Notice</a>.
        </p>

        <button type="submit" class="mzp-c-button mzp-t-product mzp-t-md" id="fxa-email-form-submit">
          Start Syncing
        </button>
      </div>
    </form>
  </div>
</section>

<hr>

<div class="mzp-l-content">
  <section class="mzp-c-card-feature mzp-l-card-feature-right-half mzp-c-emphasis-box">
    <div class="mzp-c-card-feature-content">
      <div class="mzp-c-card-feature-content-container">
        <h3 class="mzp-c-card-feature-title">Get the <strong>respect</strong> you deserve</h3>
        <div class="mzp-c-card-feature-desc">
          <p>Every single Firefox product honors our Personal Data Promise: <strong>Take less. Keep it safe. No secrets.</strong></p>
        </div>
        <a class="mzp-c-cta-link" href="#">Learn more</a>
      </div>
    </div>

    <div class="mzp-c-card-feature-media-wrapper">
      <div class="mzp-c-card-feature-media">
        <img src="{{@root.baseurl}}/static/img/card/card-image.png" alt="">
      </div>
    </div>
  </section>
</div>

<hr>

<section class="mzp-l-content">
  <div class="mzp-l-card-third mzp-c-emphasis-box">
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
    {{#embed "patterns.molecules.picto-card.picto-card"}}{{/embed}}
  </div>
</section>




