---
title: Picto Demo
layout: blank
styles:
  - picto
---

  <div class="mzp-l-content">
    {{#embed "patterns.molecules.picto.picto"}}{{/embed}}
    {{#embed "patterns.molecules.picto.picto"}}{{/embed}}
  </div>

  <div class="mzp-t-background-alt">
    <div class="mzp-l-content mzp-t-picto-side">
      {{#embed "patterns.molecules.picto.picto"}}{{/embed}}
      {{#embed "patterns.molecules.picto.picto"}}{{/embed}}
    </div>
  </div>

  <div class="mzp-l-content mzp-t-picto-center">
    {{#embed "patterns.molecules.picto.picto"}}{{/embed}}
    {{#embed "patterns.molecules.picto.picto"}}{{/embed}}
  </div>

  <div class="mzp-t-dark">
    <div class="mzp-l-content mzp-l-columns mzp-t-columns-two">
      {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/orange/microchip.svg"}}{{/embed}}
      {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/orange/devices.svg"}}{{/embed}}
    </div>
  </div>

  <div class="mzp-l-content mzp-l-columns mzp-t-columns-two mzp-t-picto-side">
    {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/orange/microchip.svg"}}{{/embed}}
    {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/orange/devices.svg"}}{{/embed}}
  </div>

  <div class="mzp-t-dark">
    <div class="mzp-l-content mzp-t-content-md mzp-l-columns mzp-t-columns-two">
      {{#embed "patterns.molecules.picto.picto"}}
        {{#content "content"}}
          <div class="mzp-c-picto-image">
            <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/pink/password.svg" width="64" alt="">
          </div>
          <h3 class="mzp-c-picto-heading">Password fatigue is real</h3>
          <div class="mzp-c-picto-body">
            <p>The average person has 130 online accounts. Firefox for mobile remembers and stores your passwords safely across synced devices, so you can log in with just one click.</p>
          </div>
        {{/content}}
      {{/embed}}

      {{#embed "patterns.molecules.picto.picto"}}
        {{#content "content"}}
          <div class="mzp-c-picto-image">
            <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/blue/no-eye.svg" width="64" alt="">
          </div>
          <h3 class="mzp-c-picto-heading">Privacy you never have to ponder</h3>
          <div class="mzp-c-picto-body">
            <p>Firefox for mobile blocks most online ad trackers automatically so there’s no need to dig into your security settings.</p>
          </div>
        {{/content}}
      {{/embed}}
    </div>
  </div>

  <div class="mzp-l-content mzp-t-content-lg mzp-l-columns mzp-t-columns-three">
    {{#embed "patterns.molecules.picto.picto"}}
      {{#content "content"}}
        <div class="mzp-c-picto-image">
          <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/violet/feature-private-browsing-mask.svg" width="64" alt="">
        </div>
        <h3 class="mzp-c-picto-heading">More powerful Private Browsing</h3>
        <div class="mzp-c-picto-body">
          <p>Private Browsing mode deletes cookie data and your browsing history every time you close it.</p>
          <p><a href="#" class="mzp-c-cta-link">Learn more</a></p>
        </div>
      {{/content}}
    {{/embed}}

    {{#embed "patterns.molecules.picto.picto"}}
      {{#content "content"}}
        <div class="mzp-c-picto-image">
          <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/violet/feature-tracking-protection-shield.svg" width="64" alt="">
        </div>
        <h3 class="mzp-c-picto-heading">Ad tracker blocking</h3>
        <div class="mzp-c-picto-body">
          <p>Firefox automatically blocks 2000+ ad trackers from following you around the internet.</p>
          <p><a href="#" class="mzp-c-cta-link">Learn more</a></p>
        </div>
      {{/content}}
    {{/embed}}

    {{#embed "patterns.molecules.picto.picto"}}
      {{#content "content"}}
        <div class="mzp-c-picto-image">
          <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/violet/password.svg" width="64" alt="">
        </div>
        <h3 class="mzp-c-picto-heading">Password manager</h3>
        <div class="mzp-c-picto-body">
          <p>Firefox Lockwise lets you access all the passwords you’ve saved in Firefox — and it’s free.</p>
          <p><a href="#" class="mzp-c-cta-link">Learn more</a></p>
        </div>
      {{/content}}
    {{/embed}}
  </div>

  <div class="mzp-t-dark">
    <div class="mzp-l-content mzp-t-content-lg mzp-l-columns mzp-t-columns-three mzp-t-picto-center">
      {{#embed "patterns.molecules.picto.picto"}}
        {{#content "content"}}
          <div class="mzp-c-picto-image">
            <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/blue/feature-private-browsing-mask.svg" width="64" alt="">
          </div>
          <h3 class="mzp-c-picto-heading">More powerful Private Browsing</h3>
          <div class="mzp-c-picto-body">
            <p>Private Browsing mode deletes cookie data and your browsing history every time you close it.</p>
            <p><a href="#" class="mzp-c-cta-link">Learn more</a></p>
          </div>
        {{/content}}
      {{/embed}}

      {{#embed "patterns.molecules.picto.picto"}}
        {{#content "content"}}
          <div class="mzp-c-picto-image">
            <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/blue/feature-tracking-protection-shield.svg" width="64" alt="">
          </div>
          <h3 class="mzp-c-picto-heading">Ad tracker blocking</h3>
          <div class="mzp-c-picto-body">
            <p>Firefox automatically blocks 2000+ ad trackers from following you around the internet.</p>
            <p><a href="#" class="mzp-c-cta-link">Learn more</a></p>
          </div>
        {{/content}}
      {{/embed}}

      {{#embed "patterns.molecules.picto.picto"}}
        {{#content "content"}}
          <div class="mzp-c-picto-image">
            <img src="{{@root.baseurl}}/assets/protocol/protocol/img/icons/brand/blue/password.svg" width="64" alt="">
          </div>
          <h3 class="mzp-c-picto-heading">Password manager</h3>
          <div class="mzp-c-picto-body">
            <p>Firefox Lockwise lets you access all the passwords you’ve saved in Firefox — and it’s free.</p>
            <p><a href="#" class="mzp-c-cta-link">Learn more</a></p>
          </div>
        {{/content}}
      {{/embed}}
    </div>
  </div>

  <div class="mzp-l-content mzp-t-content-xl mzp-l-columns mzp-t-columns-four">
    {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/orange/picture.svg"}}{{/embed}}
    {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/blue/picture.svg"}}{{/embed}}
    {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/pink/picture.svg"}}{{/embed}}
    {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/violet/picture.svg"}}{{/embed}}
  </div>

  <div class="mzp-t-dark">
    <div class="mzp-l-content mzp-l-columns mzp-t-columns-four mzp-t-picto-center">
      {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/violet/picture.svg"}}{{/embed}}
      {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/pink/picture.svg"}}{{/embed}}
      {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/orange/picture.svg"}}{{/embed}}
      {{#embed "patterns.molecules.picto.picto" image="/assets/protocol/protocol/img/icons/brand/blue/picture.svg"}}{{/embed}}
    </div>
  </div>
