{{!-- Header partial --}}
{{#*inline "nav-item"}}
  <a class="protosite-nav-main-link" href="{{@root.baseurl}}/{{url}}">
    {{label}}
  </a>
{{/inline}}

<header class="protosite-header">
  <div class="mzp-l-content">
    <a href="{{@root.baseurl}}">
      <img class="protosite-nav-main-mozlogo" src="{{@root.baseurl}}/assets/protocol/protocol/img/logos/mozilla/white.svg" alt="Mozilla">
    </a>
    <nav>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Content</a></li>
        <li><a href="">Visuals</a></li>
        <li><a href="">Components</a></li>
        <li><a href="">Resources</a></li>
      </ul>
    </nav>
  </div>
</header>
