<{{tag}} {{#if id}}id="{{id}}"{{/if}} class="mds-item">
  {{#if id}}
    <a href="#{{id}}" class="mds-item-link">{{> @partial-block }}</a>
  {{else}}
    {{> @partial-block }}
  {{/if}}
</{{tag}}>
{{#if labels}}
  <ul class="mds-item-labels">
    {{#each labels as |label|}}
      <li class="mds-label mds-label--{{label}}">
        {{label}}
      </li>
    {{/each}}
  </ul>
{{/if}}
