<{{tag}} {{#if id}}id="{{id}}"{{/if}} class="protosite-pattern-title">
  {{#if id}}
    <a href="#{{id}}" class="protosite-pattern-anchor">{{> @partial-block }}</a>
  {{else}}
    {{> @partial-block }}
  {{/if}}
</{{tag}}>
{{#if labels}}
  <ul class="protosite-pattern-labels">
    {{#each labels as |label|}}
      <li class="protosite-label protosite-label-{{label}}">
        {{label}}
      </li>
    {{/each}}
  </ul>
{{/if}}
