<{{tag}} {{#if id}}id="{{id}}"{{/if}} class="protosite-pattern-title">
    {{> @partial-block }}
</{{tag}}>
{{#if labels}}
  <ul class="protosite-pattern-labels">
    {{#each labels as |label|}}
      <li class="protosite-label protosite-label-{{label}}">
        {{label}}
      </li>
    {{/each}}
  </ul>
{{/if}}
