{{!-- Nav item partial --}}
{{#*inline "nav-item"}}
  <a class="protosite-nav-main-link" href="{{@root.baseurl}}/{{url}}">
    {{label}}
  </a>
{{/inline}}

<nav class="protosite-nav-main" id="protosite-nav-main">
  <header class="protosite-nav-main-head">
    <a href="https://www.mozilla.org">
      <img class="protosite-nav-main-mozlogo" src="{{@root.baseurl}}/static/img/mozilla-wordmark-white.svg" width="100" alt="Mozilla">
    </a>

    <a class="protosite-js-nav-toggle" href="#nav">Menu</a>
  </header>

  <div class="protosite-nav-main-menu" id="protosite-nav-main-menu">
    <ul>
      <li class="protosite-nav-main-item">
        <a href="{{@root.baseurl}}">Home</a>
      </li>
    </ul>

    {{!-- Fundamentals --}}
    <h4>Fundamentals</h4>
    <ul>
      {{#each (pages "fundamentals" sortby="order" ignore="index")}}
        <li class="protosite-nav-main-item">
          {{> nav-item label=data.title}}
        </li>
      {{/each}}
    </ul>

    {{!-- Atom Patterns --}}
    <h4>Atoms</h4>
    <ul>
      {{#each (collections "atoms" sortby="order")}}
        <li class="protosite-nav-main-item">
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>

    {{!-- Molecule Patterns --}}
    {{#if (collections "molecules")}}
    <h4>Molecules</h4>
    <ul>
      {{#each (collections "molecules" sortby="order")}}
        <li class="protosite-nav-main-item">
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{/if}}

    {{!-- Organism Patterns --}}
    {{#if (collections "organisms")}}
    <h4>Organisms</h4>
    <ul>
      {{#each (collections "organisms" sortby="order")}}
        <li class="protosite-nav-main-item">
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{/if}}

    {{!-- Template Patterns --}}
    {{#if (collections "templates")}}
    <h4>Templates</h4>
    <ul>
      {{#each (collections "templates" sortby="order")}}
        <li class="protosite-nav-main-item">
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{/if}}

    {{!-- Other pages --}}
    <h4>Other Stuff</h4>
    <ul>
      <li class="protosite-nav-main-item">
        {{#with (page "docs/index")}}
          {{> nav-item label=data.title}}
        {{/with}}
      </li>
      <li class="protosite-nav-main-item">
        {{#with (page "demos/index")}}
          {{> nav-item label=data.title}}
        {{/with}}
      </li>
    </ul>
  </div>
</nav>
