---
title: Typography
notes: |
  General typography.
order: 2
labels:
  - inprogress
---

<h1>{{ title }}</h1>

<p>Zilla Slab and Open Sans are the standard typefaces on mozilla.org websites. Since we design for a global audience, we need to establish some guidelines for fallbacks where these fonts don’t have language support.</p>


<section class="mds-section">

    <h2>Typefaces</h2>

    <h3>Zilla Slab</h3>
    <p>Zilla Slab is our custom brand typeface. We use it for our wordmark and as a display font for headlines. It’s a contemporary slab serif based on Typotheque’s Tesla. Zilla Slab is a free, open source font available for download.</p>

    <div id="specimen-zilla-slab" class="mds-specimen mds-specimen-font">
    {{#with (data "specimens")}}
        {{this.alphabet}}
        {{this.characters}}
        {{this.digits}}
        {{this.punctuation}}
        {{this.special}}
        {{this.currencies}}
    {{/with}}
    </div>

    <p>
        <a class="button button-hollow" href="https://github.com/mozilla/zilla-slab/releases/">Download from Github</a>
        <a class="button button-hollow" href="https://fonts.google.com/specimen/Zilla+Slab">Use on Google Fonts</a>
    </p>

    <h3>Open Sans</h3>
    <p>Open Sans is more legible than Zilla at small sizes, so it’s our standard typeface for body copy, labels, captions, links, navigation, etc. It’s also used as a header font when the Firefox brand needs to be expressed more than the Mozilla brand. Open Sans is designed by Steve Matteson, and is also an open source font.</p>

    <div id="specimen-open-sans" class="mds-specimen mds-specimen-font">
    {{#with (data "specimens")}}
        {{this.alphabet}}
        {{this.characters}}
        {{this.digits}}
        {{this.punctuation}}
        {{this.special}}
        {{this.currencies}}
    {{/with}}
    </div>

</section>

<section class="mds-section">
    <h2>Type Scale</h2>

    <p>We define a limited set of proportional font sizes: 12px, 14px, 16px, 18px, 24px, 36px, 48px, 60px, and 72px.</p>

    <div class="mds-specimen mds-typescale">
        <h1 class="huge">Size Huge</h1>
        <h1 class="l1">Size Level One</h1>
        <h2 class="l2">Size Level Two</h2>
        <h3 class="l3">Size Level Three</h3>
        <h4 class="l4">Size Level Four</h4>
        <h5 class="l5">Size Level Five</h5>
        <h6 class="l6">Size Level Six</h6>
        <div class="small">Size Small</div>
        <div class="x-small">Size X-Small</div>
    </div>

    <p>We use SCSS mixins to declare these font sizes, and those mixins include media queries to adjust the sizes at key breakpoints. Text gets bigger as the viewport gets bigger.</p>

    <div class="mds-specimen">
    <pre class="mds-specimen-code"><code>@include font-size-huge;
@include font-size-level1;
@include font-size-level2;
@include font-size-level3;
@include font-size-level4;
@include font-size-level5;
@include font-size-level6;
@include font-size-small;
@include font-size-extra-small;</code></pre>
    </div>
</section>
