---
name: Menu Item
description: A menu item with link, title, description, icon and a list of secondary links.
order: 2
notes: |
  - Each Menu Item should have a link destination.
  - Adding a class of `mzp-has-icon` will allow for an icon to be displayed next to the title.
  - Icons sizes should be 24px x 24px.
  - Icons should be an inline `<svg>` or `<img>` with a class of `mzp-c-menu-item-icon`.
  - Icon, description and secondary links are all optional.
---

<section class="mzp-c-menu-item {{#if icon}}mzp-has-icon{{/if}} {{#if class}}{{class}}{{/if}}">
  {{#if link}}<a class="mzp-c-menu-item-link" href="{{link}}">{{else}}<div class="mzp-c-menu-item-head">{{/if}}
    {{#if icon}}
      {{#block "icon"}}
        <img src="{{@root.baseurl}}{{#if image}}{{image}}{{else}}/static/img/navigation/icons/accounts.svg{{/if}}" class="mzp-c-menu-item-icon" width="24" height="24" alt="">
      {{/block}}
    {{/if}}
    <h4 class="mzp-c-menu-item-title">{{#block "title"}}A headline with 30 characters{{/block}}</h4>
    {{#block "desc"}}
    <p class="mzp-c-menu-item-desc">
      This is a short description with only a single sentence and no more.
    </p>
    {{/block}}
  {{#if link}}</a>{{else}}</div>{{/if}}
  {{#block "list"}}
  <ul class="mzp-c-menu-item-list">
    <li><a href="#">Secondary link</a></li>
    <li><a href="#">Secondary link</a></li>
    <li><a href="#">Secondary link</a></li>
    <li><a href="#">Secondary link</a></li>
    <li><a href="#">Secondary link</a></li>
    <li><a href="#">Secondary link</a></li>
  </ul>
  {{/block}}
</section>
