---
name: Small Card
description: A small card with image, headline, description, and link.
order: 3
notes: |
    - Small sized cards can contain images with 16:9, 3:2 or 1:1 aspect ratios.
    - The card in this example displays an icon next to the card tag name, to indicate the media type that may be played on click.
    - Recommended image width is 450px width (low-res), 900px (high-res).
      - high-res examples: 16:9 = 900 x 506, 3:2 = 900 x 600, 1:1 = 900 x 900
    - Headlines should be a maximum of 40 characters, and descriptions a maximum of 140 characters.
links:
    Card Layout Class: /patterns/templates/card-layout.html
    Card Layout Demo: /demos/card-layout.html
---

<section class="mzp-c-card {{#if class}}{{class}}{{else}}mzp-has-aspect-1-1 mzp-has-audio{{/if}}">
  <a class="mzp-c-card-block-link" href="{{#if link}}{{link}}{{else}}#{{/if}}">
    <div class="mzp-c-card-media-wrapper">
      <img class="mzp-c-card-image" src="{{@root.baseurl}}{{#if image}}{{image}}{{else}}/static/img/card/card-image.png{{/if}}" alt="">
    </div>
    <div class="mzp-c-card-content">
    {{#block "content"}}
      <div class="mzp-c-card-tag">Card tag</div>
      <h2 class="mzp-c-card-title">This example headline has 40 characters</h2>
      <p class="mzp-c-card-desc">A description with a maximum of 140 characters. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
      {{#if cta}}<p class="mzp-c-card-cta"><span class="mzp-c-card-cta-text">A short inline text cta</span></p>{{/if}}
    {{/block}}
    </div>
  </a>
</section>
