---
name: Logos
description: |
  1. Add the CSS files to your bundle. You will need both the file for logo and for the product logo you want.
  2. Add the component class `mzp-c-logo` the size class (eg: `mzp-t-md`) and the product class (eg: `mzp-t-product-firefox`) to your markup
     - For vertical spacing put the logo classes on or inside a heading or paragraph.
order: 2
notes: |
tips: |
  - Logos need both a size and product theme to display.
    - Size classes are: `mzp-t-xs`, `mzp-t-sm`, `mzp-t-md`, `mzp-t-lg`, `mzp-t-xl`.
    - Product classes are: `mzp-t-product-family`, `mzp-t-product-firefox`, `mzp-t-product-beta`, `mzp-t-product-developer`, `mzp-t-product-nightly`, `mzp-t-product-focus`, `mzp-t-product-lockwise`, `mzp-t-product-monitor`, `mzp-t-product-mozilla`, `mzp-t-product-vpn`, `mzp-t-product-pocket`.
---

<div class="mzp-c-logo mzp-t-{{#if size}}{{size}}{{else}}md{{/if}} mzp-t-product-{{#if product}}{{product}}{{else}}firefox{{/if}}">
  {{#if label}}{{label}}{{else}}Firefox Browser{{/if}}
</div>

