---
name: Wordmarks
description: |
  Wordmarks work a lot like the logos except they change when nested under a `.mzp-t-dark` class.

  1. Add the CSS files to your bundle. You will need both the file for wordmark and for the product wordmark you want.
  2. Add the component class `mzp-c-wordmark` the size class (eg: `mzp-t-wordmark-md`) and the product class (eg: `mzp-t-product-firefox`) to your markup
     - For vertical spacing put the wordmark classes on or inside a heading or paragraph.
order: 3
notes: |
tips: |
  - Wordmarks need both a size and product theme to display.
    - Size classes are: `mzp-t-wordmark-xs`, `mzp-t-wordmark-sm`, `mzp-t-wordmark-md`, `mzp-t-wordmark-lg`, `mzp-t-wordmark-xl`.
    - Product classes are: `mzp-t-product-family`, `mzp-t-product-firefox`, `mzp-t-product-beta`, `mzp-t-product-developer`, `mzp-t-product-nightly`, `mzp-t-product-focus`, `mzp-t-product-lockwise`, `mzp-t-product-monitor`, `mzp-t-product-mozilla`, `mzp-t-product-vpn`, `mzp-t-product-pocket`.
---

<div class="mzp-c-wordmark mzp-t-wordmark-{{#if size}}{{size}}{{else}}md{{/if}} mzp-t-product-{{#if product}}{{product}}{{else}}firefox{{/if}}">
  {{#if label}}{{label}}{{else}}Firefox Browser{{/if}}
</div>

